// nextflow.config file

plugins {
  id 'nf-boost'
}

boost {
  cleanup = true
}


params {
	basedon 	= null 						// First input csv to prepare CSVs based on it
	
	refGenome 	= "./Reference_Genome/reference.fa"		// Reference file path

	RawReads 	= null 		// Raw reads paths 
	ToBeTrimmed 	= null		// Raw reads paths + trimmomatic parameters
	ToBeAligned 	= null 		// Trimmed read paths 
	BamFiles	= null  	// Bam files paths 

	knwonSite1	= "./knownsites/1000g_gold_standard.indels.filtered.vcf" 	// knownsites should be .vcf  
	knwonSite2 	= "./knownsites/GCF.38.filtered.renamed.vcf"			

	// Indexes 

	BamIndex	= "./outdir/Indexes/BamFiles/*.bai"					   	  // Bam Files Indexes

	ALIGNERIndex	= "./outdir/Indexes/Reference/reference.fa.{0123,amb,ann,bwt.2bit.64,pac}"         // Bwa-mem2 		Reference Indexes
	DictGATK	= "./outdir/Indexes/Reference/reference.dict"				       // GATK Dictionary 	Reference Index
	SamtoolsIndex	= "./outdir/Indexes/Reference/reference.fa.fai"  			              // Samtools fai 		Reference Index

	KnSite1Idx 	= "./outdir/Indexes/knownSites/1000g_gold_standard.indels.filtered.vcf.idx"    // Known site 1 Index
	KnSite2Idx 	= "./outdir/Indexes/knownSites/GCF.38.filtered.renamed.vcf.idx"		   //  Known site 2 Index

	cpus 		= 2
	outdir		= "./outdir"

	generate	= null  // The default parameter generates vcf for all inputs ${onlyVCF} or A cohorte Gvcf ${cohorteGVCF}    

	}


profiles {
 conda {
        process.conda = "$projectDir/DelMoro.yml"
        conda.enabled          = true
        channels               = ['conda-forge', 'bioconda', 'defaults']
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        conda.enabled = false
        docker.enabled = true
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    singularity {
        conda.enabled = false
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }
    podman {
        conda.enabled = false
        podman.enabled = true
        singularity.enabled = false
        docker.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }
    shifter {
        conda.enabled = false
        shifter.enabled = true
        singularity.enabled = false
        docker.enabled = false
        podman.enabled = false
        charliecloud.enabled = false
    }
    charliecloud {
        conda.enabled = false
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
 }
