// execution configuration file

executor {
    cpus = "${params.mcpus}"  //  total CPUs available for the whole run (fallback to max available cpus -2 )
}

process {
    cpus = "${params.pcpus}" // CPUs per process --> Garantee multiTasking except for mapping modules


    withName: 'AlignReadsToRef|AlignReadsToRefBwaMem2' {
        cpus     = params.pcpus  // CPUs per process
        maxForks = 2            // only max 2 forks for Mapping
    }
}

