// execution configuration file
    executor {
        cpus     = "${params.mcpus ?: params.pcpus}"   // total CPUs available for the whole run (fallback to pcpus)
    }

    process {
        cpus     = "${params.pcpus}"                  // CPUs per process --> Garantee multiTasking except for mapping modules


        withName: 'AlignReadsToRef|AlignReadsToRefBwaMem2' {
            cpus     = "${params.pcpus}"            // CPUs per process
            maxForks = 2
        }
    } 

