params {
  // Command-line genome key
  igenome = null
  // illumina iGenomes reference file paths on UPPMAX
  IGENOMES {
   'GATK.GRCh37'{ // Homo_sapiens GATK GRCh37
      fasta	= "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta" 
     }
   'GATK.GRCh38'{ // Homo_sapiens GATK GRCh38
      fasta	= "s3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta" 
     }
   'Ens.GRCh37' { // Homo_sapiens Ensembl GRCh37
      fasta 	 = "s3://ngi-igenomes/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa" 
     }
   'NCBI.GRCh38'{ // Homo_sapiens NCBI GRCh38
      fasta 	 = "s3://ngi-igenomes/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa" 
     } 
    'GRCm38' 	{ // Mus_musculus 
      fasta   = 's3://ngi-igenomes/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'TAIR10' 	{ // Arabidopsis_thaliana 
      fasta   = 's3://ngi-igenomes/igenomes/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'EB2' 	{ // Bacillus_subtilis_168 
      fasta   = 's3://ngi-igenomes/igenomes/Bacillus_subtilis_168/Ensembl/EB2/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'UMD3.1' 	{ // Bos_taurus 
      fasta   = 's3://ngi-igenomes/igenomes/Bos_taurus/Ensembl/UMD3.1/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'WBcel235'	{ // Caenorhabditis_elegans  
      fasta   = 's3://ngi-igenomes/igenomes/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'CanFam3.1'	{ // Canis_familiaris 
      fasta   = 's3://ngi-igenomes/igenomes/Canis_familiaris/Ensembl/CanFam3.1/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'GRCz10' 	{ // Danio_rerio 
      fasta   = 's3://ngi-igenomes/igenomes/Danio_rerio/Ensembl/GRCz10/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'BDGP6' 	{ // Drosophila_melanogaster 
      fasta   = 's3://ngi-igenomes/igenomes/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'EquCab2' 	{ // Equus_caballus  
      fasta   = 's3://ngi-igenomes/igenomes/Equus_caballus/Ensembl/EquCab2/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'EB1' 	{ // Escherichia_coli_K_12_DH10B 
      fasta   = 's3://ngi-igenomes/igenomes/Escherichia_coli_K_12_DH10B/Ensembl/EB1/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'Galgal4' 	{ // Gallus_gallus  
      fasta   = 's3://ngi-igenomes/igenomes/Gallus_gallus/Ensembl/Galgal4/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'Gm01' 	{ // Glycine_max 
      fasta   = 's3://ngi-igenomes/igenomes/Glycine_max/Ensembl/Gm01/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'Mmul_1' 	{ // Macaca_mulatta  
      fasta   = 's3://ngi-igenomes/igenomes/Macaca_mulatta/Ensembl/Mmul_1/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'IRGSP-1.0' { // Oryza_sativa_japonica 
      fasta   = 's3://ngi-igenomes/igenomes/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'CHIMP2.1.4'{ // Pan_troglodytes
      fasta   = 's3://ngi-igenomes/igenomes/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'Rnor_6.0' 	{ // Rattus_norvegicus
      fasta   = 's3://ngi-igenomes/igenomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'R64-1-1' 	{ // Saccharomyces_cerevisiae
      fasta   = 's3://ngi-igenomes/igenomes/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'EF2' 	{ // Schizosaccharomyces_pombe
      fasta   = 's3://ngi-igenomes/igenomes/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'Sbi1' 	{ // Sorghum_bicolor
      fasta   = 's3://ngi-igenomes/igenomes/Sorghum_bicolor/Ensembl/Sbi1/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'Sscrofa10.2'{ // Sus_scrofa
      fasta   = 's3://ngi-igenomes/igenomes/Sus_scrofa/Ensembl/Sscrofa10.2/Sequence/WholeGenomeFasta/genome.fa' 
    }
    'AGPv3' 	{ // Zea_mays
      fasta   = 's3://ngi-igenomes/igenomes/Zea_mays/Ensembl/AGPv3/Sequence/WholeGenomeFasta/genome.fa' 
    }
  }
}
