// nextflow.test.config file

profiles  {  
    test {
    	params {
	outdir		= "outdir/test" 
	cpus     	= 2  		// default to 2 if undefined
    	rawreads 	= "./conf/testcsv/1_test-samplesheetForRawQC.csv"
	tobetrimmed	= "./conf/testcsv/2_test-SamplesheetForTrimming.csv"
	bbduk		= true		// trimming tools trimmomatic, fastp or bbduk
	
	reference 	= "https://github.com/othmanResearch/DelMoro/raw/refs/heads/test-data/ref/reference.fa"
		  	  
	tobealigned	= "./conf/testcsv/3_test-samplesheetForAssembly.csv"		 
	bam		= "./conf/testcsv/4_test-samplesheetForBamFiles.csv"
	
	knownsite1	= "https://github.com/othmanResearch/DelMoro/raw/refs/heads/test-data/knownsites/1000g_gold_standard.indels.filtered.vcf"
	knownsite2	= "https://github.com/othmanResearch/DelMoro/raw/refs/heads/test-data/knownsites/GCF.38.filtered.renamed.vcf"
	
	tovarcall	= "./conf/testcsv/5_test-samplesheetReclibFiles.csv"	  
	mode		= "onlyVCF"	// only vcf or cohortGVCF or null ( ALL ) 
	
	toannotate	= "./conf/testcsv/6_test-samplesheetvcfFiles.csv"	
	bamindex	= "${params.outdir}/Mapping/*.bai"  // Bam Files Indexes  [ mandatory ]  
        
	alignerindex	= "./Reference_Genome/*.fa.{0123,amb,ann,bwt.2bit.64,pac,bwt,sa}"   //  Bwa-mem 1,2 Ref Indexes    
	dictgatk	= "./Reference_Genome/*.dict"					   //  GATK Dictionary Ref Index    					  
	samtoolsindex	= "./Reference_Genome/*.fa.fai" 

    	}
    }
}




