// nextflow.test.config file

profiles  {  
    test {
    	params {
	outdir		= "outdir/test" 
	pcpus     	= 2  		// default to 2 if undefined
    	rawreads 	= "${projectDir}/conf/testcsv/1_test-samplesheetForRawQC.csv"
	tobetrimmed	= "${projectDir}/conf/testcsv/2_test-SamplesheetForTrimming.csv"
	bbduk		= true		// trimming tools trimmomatic, fastp or bbduk
	
	reference 	= "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/ref/reference.fa"
	input		= "${projectDir}/conf/testcsv/1_test-samplesheetForRawQC.csv"	  
	tobealigned	= "${projectDir}/conf/testcsv/3_test-samplesheetForAssembly.csv"		 
        bwaTestIdx      = [ "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/ref/reference.fa.amb",
                            "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/ref/reference.fa.ann",
                            "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/ref/reference.fa.bwt",
                            "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/ref/reference.fa.pac",
                            "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/ref/reference.fa.sa" ]
                            
        dicTestIdx      = "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/ref/reference.dict"
        samTestIdx      = "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/ref/reference.fa.fai"
        
        bam		= "${projectDir}/conf/testcsv/4_test-samplesheetForBamFiles.csv"
        bamTestIdx      = [ "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/bams/fatherID_delMoro.bam.bai",
                            "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/bams/motherID_delMoro.bam.bai"  ]
                          
	knownsite1  = "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/knownsites/1000g_gold_standard.indels.filtered.vcf"
        knownsite2  = "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/knownsites/GCF.38.filtered.renamed.vcf"
        testKnS1Idx = "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/knownsites/1000g_gold_standard.indels.filtered.vcf.idx"
        testKnS2Idx = "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/knownsites/GCF.38.filtered.renamed.vcf.idx"

        tovarcall	= "${projectDir}/conf/testcsv/5_test-samplesheetReclibFiles.csv"	  
        RecalbamTestIdx = [ "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/recbams/fatherID.recal.bam.bai",
                            "https://raw.githubusercontent.com/othmanResearch/DelMoro/test-data/recbams/motherID.recal.bam.bai"  ]	   

    	}
    }
}


        
